/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */

@font-face {
  font-display: swap;
  font-family: Inter;
  src: local('Inter-Variable'),
    url(./Inter-Variable.woff2) format('woff2 supports variations'),
    url(./Inter-Variable.woff2) format('woff2-variations');
  font-weight: 410 715;
}

@font-face {
  font-display: swap;
  font-family: PressStartP2;
  src: local('PressStart2P-Regular'),
    url(./PressStart2P-Regular.woff) format('woff');
}
