/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--page-font), sans-serif;
  font-variation-settings: 'wght' var(--page-wght, 410);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--page-bg);
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
  padding-block: 100px;
}

.page:has(.download-window[open]) {
  overflow: hidden;
}

.content-block {
  inline-size: var(--content-inline-size);
  margin: 0 auto;
}

.header {
  border: 2px solid #000;
  background-color: #fff;
  padding-block: var(--header-padding-block, 122px);
  font-family: var(--accent-font), sans-serif;
  text-align: center;
}

.header__title {
  text-transform: uppercase;
  font-size: var(--header-font-size);
}

.header__logo-text {
  display: block;
  font-size: var(--header-logo-font-size);
  margin-block-end: 20px;
}

.main {
  margin-block-start: 100px;
  margin-block-end: 50px;
}

.main__card-list {
  list-style: none;
  display: grid;
  gap: 50px;
}

/* .main__card-item */

.card {
  /* width: 100%; */
  background-color: #fff;
  font-size: 18px;
  border: 2px solid #000;
}

.card__title {
  font-variation-settings: 'wght' 715;
  font-size: inherit;
  padding-block: 4px;
  padding-inline: 10px;
}

.card__image-wrapper {
  position: relative;
  border-block: 2px solid #000;
  overflow: hidden;
}

.card__image-label {
  position: absolute;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  opacity: .5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--image-label-color, #fff);
  z-index: 1;
}

@supports (text-stroke: 1px #fff) {
  .card__image-label {
     text-stroke: 1px var(--image-label-color, #fff);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  /* border-block: 2px solid #000; */
}

.sprint01-start-image {
  filter: saturate(25%);
}

.sprint01-end-image {
  filter: saturate(300%);
}

.sprint02-start-image {
  filter: hue-rotate(40deg);
}

.sprint02-end-image {
  filter: invert(0.8);
}

.sprint03-start-image {
  filter: sepia(90%);
}

.sprint03-end-image {
  filter: blur(20px);
}

.now-im-here-image {
  --var: 0.5;
  /* filter: blur(2px) hue-rotate(100deg); */
  /* filter: hue-rotate(100deg) invert(calc(var(--var) / 2)) brightness(calc(1 + var(--var))) blur(2px); */
  filter: hue-rotate(100deg) invert(0.25) brightness(calc(1.5)) blur(2px);
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 116%;
  /* font-variation-settings: 'wght' var(--page-wght, 410); */
}

.card__icon-button {
  align-self: flex-end;
}

.button {
  border: 2px solid #000;
  font-family: var(--accent-font, PressStartP2), sans-serif;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  line-height: 90%;
}

.card__icon-button {
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.button__text {
  display: inline-block;
  border: 2px solid #000;
  padding-inline: 36px;
  padding-block: 12px;
}

.like-icon {
  fill: #000;
  /* stroke: #000; */
  /* stroke-width: 1px; */
}

.download-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 18px;
  padding-block: 15px;
  margin: 0 auto;
}

.floppy-icon {
  block-size: 21px;
  inline-size: 21px;
}

.download-window[open] {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-block: 28px;
  padding-inline: 28px;
  inline-size: var(--download-window-inline-size);
  border: 2px solid #000;
  border-radius: 0;
}

.download-window[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  /* backdrop-filter: blur(7px); */
}

.download-window__content {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: var(--accent-font, PressStartP2), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.download-window__content .floppy-icon {
  flex-shrink: 0;
  /* color: palevioletred; */
  block-size: 39px;
  inline-size: 39px;
}

.button__ok {
  padding-block: 12.5px;
  text-transform: uppercase;
}

/* .footer {
  
} */


@media (width < 376px) {
  .download-window[open] {
    padding-inline: 38px;
  }

  .download-button {
    flex-direction: column;
  }

  .floppy-icon {
  block-size: 28px;
  inline-size: 28px;
}
}