/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --page-font: Inter;
  --accent-font: PressStartP2;
  --card-title-weight: 715;
  --card-text-weight: 410;
  --page-wght: 410;
  --page-bg: repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --content-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);; /* from 375px to 1440px*/
  --header-logo-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);;
  --header-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  --image-label-color: #fff;
  --download-window-inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  --like-contour-color: #000;
  --animation-fill-color: #f00;
}
